{% extends "base.html" %}

{% block nav_items %}
    <li><a href="{% url 'welcome' %}"><span class="nav-text">Welcome!</span><figure class="logo"><img src="../../static/resume_website/images/Lizard.tiny-purple.png"></figure></a></li>
    <li><a class = "active" href="{% url 'culture' %}"><span class="nav-text">Caring About Culture</span></a></li>
    <li><a href="{% url 'development' %}"><span class="nav-text">Passionate About Development</span></a></li>
    <li><a href="{% url 'devsecops' %}"><span class="nav-text">Driving DevSecOps</span></a></li>
    <li><a href="{% url 'community' %}"><span class="nav-text">Invested In Community</span></a></li>
    <li><a href="{% url 'portfolio' %}"><span class="nav-text">My Portfolio</span></a></li>
    <li><a href="{% url 'contact' %}"><span class="nav-text">Contact Me</span></a></li>
{% endblock %}

{% block page_titles %}
        <h1>Culture and Environment</h1>
{% endblock %}

{% block section_titles_1 %}
    <h2 id="dev-env-culture" style="text-align: left;">Healthy Developer and Company Culture</h2>
{% endblock %}

{% block section_1 %}
    <p>Having worked at multiple software offices, I’ve learned to prioritise a culture that:</p>
    <ul class="bulleted-list">
        <li><strong>Protects Diversity and Employee Safety</strong> - takes any harassment, discrimination, etc very seriously!</li>
        <li><strong>Values Candid Feedback</strong> - views constructive criticism/proposed improvements as valuable insight (rather than as a sign of insubordination or of being combative to the current system).</li>
        <li><strong>Practices “Ask” Culture</strong> - doesn’t shame ignorance or “stupid” questions.</li>
        <li><strong>Incentivizes Vulnerability, Transparency and Team Collaboration</strong> - not competitiveness or “rock star” individualism.</li>
        <li><strong>Respects Employee Hours and Health</strong> - values employee wellbeing and agency, strives to avoid grind/crunch culture.</li>
        <li><strong>Trusts Employee Expertise</strong> - that engineers as domain experts also have insight into the problems they solve.</li>
    </ul>
    <br>
{% endblock %}

{% block section_titles_2 %}
        <h2 id="dev-env-practices" style="text-align: left;">Sustainable Development Practices</h2>
{% endblock %}

{% block section_2 %}
        <p>I am seeking a development environment that:</p>
        <ul class="bulleted-list">
            <li>Is <strong>Agile</strong> - granularity, communication, visibility (scrum/kanban, standups, retrospectives), continuous improvement.</li>
            <li><strong>Avoids Siloing</strong> - building in cross-functionality, documentation and other measures to avoid bus factors.</li>
            <li>Maintains a <strong>Sustainable Workflow</strong> - utilizing non-prescriptive estimation/team capacity measures and healthy WIP limits.</li>
            <li>Prioritises <strong>Code Health and Quality not “Rush” Culture</strong> - understands stability builds efficiency and mitigates technical debt, i.e.:</li>
            <li>Strives for a <strong>DevSecOps Culture</strong> - prioritising CI/CD, automation, test code coverage, scalability, monitoring and general visibility, and facilitating (wherever helpful) cross-team, cross-department communication. As part of this culture: </li>
            <li class="bulleted-sublist">Is biased towards <strong>Automation</strong> - understanding that making a process painless (quick, intuitive and repeatable) makes development not only more efficient, but also safer.</li>
        </ul>
    </br>
{% endblock %}

{% block cta_items %}
    <li><a href="{% url 'welcome' %}">Welcome and Overview</a></li>
    <!--<li><a class = "active" href="{% url 'culture' %}">Culture and Practices: What I'm Seeking</a></li> --> <!-- Disable active or extra page bottom links until/unless can fix responsive flex to fit 5+ on screen-->
    <li><a href="{% url 'development' %}">Development and Teamwork: What Motivates Me</a></li>
    <li><a href="{% url 'devsecops' %}">DevSecOps: What I've Brought to Teams</a></li>
    <li><a href="{% url 'community' %}">Causes and Community: How I Get Involved</a></li>
{% endblock %}

{% block cta_line %}
    <li><span class="icon-text"><span class="not-bold">Or </span> download my</span></li>
    <li><span class="icon-emoji"><strong>📄</strong></span></li>
    <li><span class="icon-text"><a href="https://docs.google.com/document/d/1CLSz0UQYntpxOHxoO1TDGx_cF8VJgf2-kEORt9IYtPc/edit?usp=sharing" target="_blank">resumé</a><span class="not-bold"> (which includes this information and more), </span>view my </span></li>
    <li><span class="icon-emoji"><strong>📂</strong></span></li>
    <li><span class="icon-text"><a href="{% url 'portfolio' %}">portfolio </a><span class="not-bold"> or </span>get in</span></li>
    <li><span class="icon-emoji"><strong>📨</strong></span></li>
    <li><span class="icon-text"><a href="{% url 'contact' %}">contact</a>!</span></li>
{% endblock %}