{% extends "base.html" %}

{% block nav_items %}
    <li><a href="{% url 'welcome' %}"><span class="nav-text">Welcome!</span><figure class="logo"><img src="../../static/resume_website/images/Lizard.tiny-purple.png"></figure></a></li>
    <li><a href="{% url 'culture' %}"><span class="nav-text">Caring About Culture</span></a></li>
    <li><a href="{% url 'development' %}"><span class="nav-text">Passionate About Development</span></a></li>
    <li><a class = "active" href="{% url 'devsecops' %}"><span class="nav-text">Driving DevSecOps</span></a></li>
    <li><a href="{% url 'community' %}"><span class="nav-text">Invested In Community</span></a></li>
    <li><a href="{% url 'portfolio' %}"><span class="nav-text">My Portfolio</span></a></li>
    <li><a href="{% url 'contact' %}"><span class="nav-text">Contact Me</span></a></li>
{% endblock %}

{% block page_titles %}
    <h1>What I've Done</h1>
{% endblock %}

{% block section_titles_1 %}
    <h2 id="devsecops-achievements" style="text-align: left;">I Drive DevSecOps and Automation!</h2>
{% endblock %}

{% block section_1 %}
    <p>This is something I can’t live without!</p>
    <p>At previous companies, I’ve championed DevSecOps by:</p>
    <ul class="bulleted-list">
        <li><strong>Significantly Improving CI Efficiency</strong> - to a fraction of build time across Dev, Test and Staging/Production pipelines.</li>
        <li><strong>Improving Environment Provisioning</strong> - in terms of process automation, visibility/logging, reproducibility, frequency.</li>
        <li><strong>Automating Version Control and Backup of Build Configuration Templates</strong> - redundant stored for fast access to recent environment configurations and to safeguard against disaster.</li>
        <li><strong>Driving DevSecOps Culture and Initiatives:</strong></li>
        <li class="bulleted-sublist"><strong>Running Department Educational Sessions: </strong> on CI/CD and DevSecOps culture and mechanisms.</li>
        <li class="bulleted-sublist"><strong>Pushing Security Awareness and Collaboration:</strong> I ran an educational and collaborative strategy session on API vulnerabilities for our product launch, which resulted in multiple risks being raised for resolution before go-live.</li>
    </ul>
    <ul>
        <li>All of these initiatives were greatly appreciated by our development team and lauded by my supervisor.</li>
    </ul>
{% endblock %}

{% block cta_items %}
    <li><a href="{% url 'welcome' %}">Welcome and Overview</a></li>
    <li><a href="{% url 'culture' %}">Culture and Practices: What I'm Seeking</a></li>
    <li><a href="{% url 'development' %}">Development and Teamwork: What Motivates Me</a></li>
    <!-- <li><a class = "active" href="{% url 'devsecops' %}">DevSecOps: What I've Brought to Teams</a></li> --> <!-- Disable active or extra page bottom links until/unless can fix responsive flex to fit 5+ on screen-->
    <li><a href="{% url 'community' %}">Causes and Community: How I Get Involved</a></li>
{% endblock %}

{% block cta_line %}
    <li><span class="icon-text"><span class="not-bold">Or </span> download my</span></li>
    <li><span class="icon-emoji"><strong>📄</strong></span></li>
    <li><span class="icon-text"><a href="https://docs.google.com/document/d/1CLSz0UQYntpxOHxoO1TDGx_cF8VJgf2-kEORt9IYtPc/edit?usp=sharing" target="_blank">resumé</a><span class="not-bold"> (which includes this information and more), </span>view my </span></li>
    <li><span class="icon-emoji"><strong>📂</strong></span></li>
    <li><span class="icon-text"><a href="{% url 'portfolio' %}">portfolio </a><span class="not-bold"> or </span>get in</span></li>
    <li><span class="icon-emoji"><strong>📨</strong></span></li>
    <li><span class="icon-text"><a href="{% url 'contact' %}">contact</a>!</span></li>
{% endblock %}