{% extends "base.html" %}

{% block nav_items %}
    <li><a href="{% url 'welcome' %}"><span class="nav-text">Welcome!</span><figure class="logo"><img src="../../static/resume_website/images/Lizard.tiny-purple.png"></figure></a></li>
    <li><a href="{% url 'culture' %}"><span class="nav-text">Caring About Culture</span></a></li>
    <li><a href="{% url 'development' %}"><span class="nav-text">Passionate About Development</span></a></li>
    <li><a href="{% url 'devsecops' %}"><span class="nav-text">Driving DevSecOps</span></a></li>
    <li><a href="{% url 'community' %}"><span class="nav-text">Invested In Community</span></a></li>
    <li><a class = "active" href="{% url 'portfolio' %}"><span class="nav-text">My Portfolio</span></a></li>
    <li><a href="{% url 'contact' %}"><span class="nav-text">Contact Me</span></a></li>
{% endblock %}

{% block page_titles %}
    <h1>My Portfolio</h1>
{% endblock %}

{% block section_titles_1 %}
    <h2 style="text-align: left;">Where you can find my Code Repos and Live Demos</h2>
{% endblock %}

{% block section_1 %}
    <ul id="live-demos" class="icon-and-text">
        <li><span class="icon-emoji"><strong>🌐</strong></span></li>
        <li><span class="icon-text"><strong>Live Demos:</strong></span></li>
    </ul>
    <ul class="bulleted-list">
        <li><strong>This website</strong> is part of my portfolio! It has:</li>
        <li class="bulleted-sublist"><strong>No Bootstrapping!</strong> I designed and developed this one from scratch.</li>
        <li class="bulleted-sublist"><strong>Responsive Design!</strong> You can browse it from your computer, phone or tablet!</li>
        <li class="bulleted-sublist"><strong>Public Repos</strong> so you can view the code for yourself! Though I recommend my Django version! Find both repos below!</li>
    </ul>
    <br>
{% endblock %}

{% block section_titles_2 %}
{% endblock %}

{% block section_2 %}
    <ul id="code-repos" class="icon-and-text">
        <li><img class="icon-image" src="../../static/resume_website/images/dev_icon-really-tiny.png"></li>
        <li><span class="icon-text"><strong>Code Demos:</strong></span></li>
    </ul>
    <ul class="bulleted-list">
        <li class="bulleted-icon-list-item">
            <ul class="icon-and-text">
                <li><img class="icon-image" src="../../static/resume_website/images/github_logo_really-tiny.png"></li>
                <li><span class="icon-text"><strong><a href="https://github.com/salemandreus" target="_blank">Github:</a></strong></li>
            </ul>
        </li>
    </ul>
    <ul class="bulleted-sublist">   <!-- I'm not sure if the style is working on both ul and li in css or if it's just defaulting to bulleted list - noting as unexpected or misleading behaviour-->
        <li class="bulleted-icon-sublist-item">
            <ul class="icon-and-text">
                <li><span class="icon-emoji"><strong>📌</strong></span></li>
                <li><span class="icon-text"><strong><a href="https://github.com/salemandreus" target="_blank">Pinned Projects</a></strong></li>
                <li><span class="icon-text"> - check them out!</li>
            </ul>
        </li>
        <li class="bulleted-icon-sublist-item">
            <ul class="icon-and-text">
                <li><span class="icon-emoji"><strong>🚀</strong></span></li>
                <li><span class="icon-text"><a href="https://github.com/salemandreus/resume-website-django" target="_blank">This Website's Code</a></span></li>
                <!-- <li><span class="icon-emoji"><strong>👈</strong></span></li> -->
                <li><span class="icon-text"> is available here - it is a more dynamic improvement on my original site, now using <strong>Django</strong> !</span></li>
            </ul>
        </li>
        <li class="bulleted-icon-sublist-item">
            <ul class="icon-and-text">
                <li><span class="icon-emoji"><strong>☝️️</strong></span></li>
                <li><span class="icon-text"><a href="https://github.com/salemandreus/salemandreus.github.io" target="_blank">This Site's Original</a></span></li>
                <!-- <li><span class="icon-emoji"><strong>👈</strong></span></li> -->
                <li><span class="icon-text"> is also available here, created by necessity as a static site in order to be GitHub Pages-supported. You can also browse the <a href="https://salemandreus.github.io/" target="_blank"> site .</a></span></li>
            </ul>
        </li>
        <li class="bulleted-icon-sublist-item">
            <ul class="icon-and-text">
                <li><span class="icon-emoji"><strong>🎓</strong></span></li>
                <li><span class="icon-text"><a href="https://github.com/salemandreus/UpskillLinks" target="_blank">My Learning Repo</a></span></li>
                <li><span class="icon-text"> is where I maintain a list of <strong>easy-learning resources I recommend</strong>, as per my <a href="{% url 'community' %}">causes</a> section.</span></li>
            </ul>
        </li>
    </ul>
    <br>
{% endblock %}

{% block section_titles_3 %}
{% endblock %}

{% block section_3 %}
    <!-- <br>
    <p><strong>Also:</strong></p> -->
    <!-- <br> -->
    <ul id="watch-this-space" class="icon-and-text non-bulleted-icon-and-text">
        <li><span class="icon-emoji"><strong>🔖</strong></span></li>
        <li><span class="icon-text"><strong>Watch This Space!</strong></span></li>
    </ul>
    <ul class="bulleted-list">
        <li>As I'll be adding more portfolio items here <strong>very soon™️!</strong></li>
    </ul>
    <br>
{% endblock %}

{% block cta_items %}
    <!--<li><a href="{% url 'welcome' %}">Welcome and Overview</a></li>--> <!-- Disable active or extra page bottom links until/unless can fix responsive flex to fit 5+ on screen-->
    <li><a href="{% url 'culture' %}">Culture and Practices: What I'm Seeking</a></li>
    <li><a href="{% url 'development' %}">Development and Teamwork: What Motivates Me</a></li>
    <li><a href="{% url 'devsecops' %}">DevSecOps: What I've Brought to Teams</a></li>
    <li><a href="{% url 'community' %}">Causes and Community: How I Get Involved</a></li>
{% endblock %}

{% block cta_line %}
    <li><span class="icon-text"><span class="not-bold">Or </span> download my</span></li>
    <li><span class="icon-emoji"><strong>📄</strong></span></li>
    <li><span class="icon-text"><a href="https://docs.google.com/document/d/1CLSz0UQYntpxOHxoO1TDGx_cF8VJgf2-kEORt9IYtPc/edit?usp=sharing" target="_blank">resumé </a><span class="not-bold"> or </span> get in </span></li>
    <li><span class="icon-emoji"><strong>📨</strong></span></li>
    <li><span class="icon-text"><a href="{% url 'contact' %}">contact</a>!</span></li>
 {% endblock %}