<!DOCTYPE html>
<html lang = en-us>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:image" content="https://salemandreus.github.io/images/SalemandreusDevLogo.png" />
<meta property="og:title" content="Salem Forsythe - Full-Stack Software Developer and Automation Engineer" />
<meta property="og:description" content="I have worked in DevSecOps, Django/Python and other full-stack and back-end development and automation. My ideal career involves growth opportunities and my dream is to combine my Linguistics degree with AI and Machine Learning." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://salemandreus.github.io/" />
<meta name="image" content="../../static/resume_website/images/SalemandreusDevLogo.png">
<meta name="title" content="Salem Forsythe - Full-Stack Software Developer and Automation Engineer">
<meta name="description" content="I have worked in DevSecOps, Django/Python and other full-stack and back-end development and automation. My ideal career involves growth opportunities and my dream is to combine my Linguistics degree with AI and Machine Learning.">
<meta name="author" content="Salem Forsythe">
<link href="../../static/resume_website/css/normalize.css" rel="stylesheet">
<link href="../../static/resume_website/css/small.css" rel="stylesheet">
<link href="../../static/resume_website/css/medium.css" rel="stylesheet">
<link href="../../static/resume_website/css/large.css" rel="stylesheet">
<title>Hire Salem Forsythe</title>
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
<!-- HEADER -->
<div id="headerWrapper">
    <header>

        <!-- NAVIGATION -->
        <div id="navWrapper">
            <nav class="clearfix">
                <button onclick="toggleMenu()">&#9776</button>
                <ul id="primaryNav" class="hide">
                    <li><a href="{% url 'welcome' %}"><span class="nav-text">Welcome!</span><figure class="logo"><img src="../../static/resume_website/images/Lizard.tiny-purple.png"></figure></a></li>
                    <li><a href="{% url 'culture' %}"><span class="nav-text">Caring About Culture</span></a></li>
                    <li><a class="active" href="{% url 'development' %}"><span class="nav-text">Passionate About Development</span></a></li>
                    <li><a href="{% url 'devsecops' %}"><span class="nav-text">Driving DevSecOps</span></a></li>
                    <li><a href="{% url 'community' %}"><span class="nav-text">Invested In Community</span></a></li>
                    <li><a href="{% url 'portfolio' %}"><span class="nav-text">My Portfolio</span></a></li>
                    <li><a href="{% url 'contact' %}"><span class="nav-text">Contact Me</span></a></li>
                </ul>
            </nav>
        </div>

<!--- Content -->
        <div id="headingsTopWrapper">
            <h1>Hire Salem Forsythe</h1>
            <h2>Software Developer and Automation Engineer</h2>
        </div>
    </header>
</div>

<!-- MAIN -->
<div id="mainWrapper">
    <main>
        <h1>What Drives Me</h1>
        <br>
        <h2 id="passionate-about-development" style="text-align: left;">I am Passionate about Software Development and Development Practices!</h2>
        <ul>
            <li><strong>I love the challenge of problem-solving through code</strong> - whether it be automation scripting, software development, or improving code coverage through automated testing and TDD!</li>
            <li><strong>I enjoy finding solutions to make people’s lives easier</strong> - which is probably why I also love DevSecOps!</li>
            <li><strong>I believe in finding optimal systems for group cohesion and collaboration</strong> - yet another reason I love DevSecOps!</li>
            <li><strong>I am passionate about precise communication</strong> - which is probably also why I also studied linguistics.</li>
            <li><strong>I value opportunities to get involved in the community and contribute wherever I can</strong> - see my past involvements <a href="{% url 'community' %}">section!</a></li>
            <li><strong>I am driven, eager to learn, always keen to work with a team and very passionate!</strong></li>
        </ul>
        <br>
        <div class="call-to-action-block">
            <p>Click below to learn more about: </p>
            <div class="centred-block">
                <ul class = centred-list-block>
                    <li><a href="{% url 'welcome' %}">Welcome and Overview</a></li>
                    <li><a href="{% url 'culture' %}">Culture and Practices: What I'm Seeking</a></li>
                    <!--<li><a class = "active" href="{% url 'development' %}">Development and Teamwork: What Motivates Me</a></li>--> <!-- Disable active or extra page bottom links until/unless can fix responsive flex to fit 5+ on screen-->
                    <li><a href="{% url 'devsecops' %}">DevSecOps: What I've Brought to Teams</a></li>
                    <li><a href="{% url 'community' %}">Causes and Community: How I Get Involved</a></li>
                </ul>
            </div>
            <br>
            <ul id="cta-bottom-line" class="icon-and-text">
                <li><span class="icon-text"><span class="not-bold">Or </span> download my</span></li>
                <li><span class="icon-emoji"><strong>📄</strong></span></li>
                <li><span class="icon-text"><a href="https://docs.google.com/document/d/1CLSz0UQYntpxOHxoO1TDGx_cF8VJgf2-kEORt9IYtPc/edit?usp=sharing" target="_blank">resumé</a><span class="not-bold"> (which includes this information and more), </span>view my </span></li>
                <li><span class="icon-emoji"><strong>📂</strong></span></li>
                <li><span class="icon-text"><a href="{% url 'portfolio' %}">portfolio </a><span class="not-bold"> or </span>get in</span></li>
                <li><span class="icon-emoji"><strong>📨</strong></span></li>
                <li><span class="icon-text"><a href="{% url 'contact' %}">contact</a>!</span></li>
            </ul>
        </div>
    </main>
</div>

<!--- FOOTER -->
<div id="footerWrapper">
    <footer>
        &copy; Salem Forsythe 2023
    </footer>
</div>
<script src="../../static/resume_website/js/scripts.js"></script>
</body>
</html>